.Bio {
  margin: 0 0.5rem;
  /* width: 70%; */
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bio-text {
  justify-content: center;
  align-items: center;
}

#Bio-header {
  margin: 0.5rem;
  padding: 0.5rem;
}

.Bio-text p {
    display: flex;
    text-align: left;
    width: auto;
    min-width: 50%;
    max-width: 70%;
    margin: 0 auto;
  }

@media screen and (min-width: 1400px) {
  .Bio-text {
    width: 70%;
    align-items: center;
  }
  .Bio-text p {
    align-items: center;
    
  }
  
}