.Compositions {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: large;
}

.Compositions-table table {
  margin: 0 auto;
}

.Compositions-table td, th {
  border: 1px solid rgb(18, 18, 18);
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  font-weight: normal;
}

.subfield {
  /* font-style: italic; */
  font-weight: lighter;
  font-size: smaller;
}

.subfield p {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .Compositions-table td, th {
    font-size: 0.7rem;
  }
}