.navbar-links {
  justify-content: space-around;
  font-size: 1rem;
}

@media screen and (min-width: 350px) {
  .navbar-links {
    margin: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar-links {
    font-size: 1rem;
  }
}

@media screen and (min-width: 550px) {
  .navbar-links {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 650px) {
  .navbar-links {
    margin: 0 2rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 900px) {
  .navbar-links {
    font-size: 1.5rem;
  }
}
